<nav class="navbar navbar-default"
     style="background-color: rgb(143, 203, 143);
            font-size: medium;
            ">

  <div class="container-fluid">
    <div class="navbar-header">
      <a
      class="navbar-left"
      routerLink="/homepage"
      >
      <!-- The logo I create will go by the src element -->
        <img
            src="https://www.transparentpng.com/thumb/golf-ball/6tYTME-golf-ball-background.png"
             width="25"
             height="25"
             style="margin-top: 12px;
             "
             alt="">
        </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/homepage">Scrapbook</a></li>
        <li routerLinkActive="active"><a routerLink="/homepage">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/itchlist">Bucket List</a></li>
                <!-- I changed itchlist to bucketlist. I originally was looking for a different name besides bucket list, so I
                     went with a much worse name, "Itch List". That is why half the components are named itch list. -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Fetch Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Courses</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Dont Touch<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
