<div class="row">
  <div class="col-xs-12 text-center"
       style="margin-top: -3%;">
    <h1>
      <img
       src="../../assets/ball-and-tee.png"
       width="65"
       height="65"
       style="margin-top: 3px;
       "
       alt="">
      Bucket List Courses
      <img
      src="../../assets/ball-and-tee.png"
       width="65"
       height="65"
       style="margin-top: 3px;
       "
       alt="">
       <button
        class="btn btn-success"
        (click)="onNewCourse()"
        style="color: rgb(39, 39, 105);"
        >Add New Course
       </button>
    </h1>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-il-item
    *ngFor="let itchListCourseEl of itchListArray; let i = index"
     [itchListCourse]="itchListCourseEl"
     [index]="i"></app-il-item>
  </div>
</div>
